html {
		color: #ff5d55;
}

a {
	color: #ff5d55;
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: #ff5d55;
}

a:hover {
	text-decoration: none;
	color: #ff5d55;
}

a:visted {
	text-decoration: none;
	color: #ff5d55;
}

a:active{
	text-decoration: none;
	color: #ff5d55;
}


h2, h3{
	color: #ff5d55;
	display:flex;
	justify-content:center;
	align-items:center;
    text-align: center;
    padding: 20px;
}

h4{
    color: #ff5d55;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 138px;
    margin: 20px;
    font-size: 53px;

 }


/*  SECTIONS  */
.section
{
    clear: both;

    margin: 0;
    padding: 0;
}

/*  COLUMN SETUP  */
.col
{
    display: block;
    float: left;

    margin: 1% 0 1% 1.6%;
}
.col:first-child
{
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after
{
    display: table;

    content: '';
}
.group:after
{
    clear: both;
}
.group
{
    zoom: 1; /* For IE 6/7 */
}


s
/*  GRID OF TWO  */
.span_2_of_2
{
    width: 100%;
}
.span_1_of_2
{
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px)
{
    .col
    {
        margin: 1% 0 1% 0;
    }
}

@media only screen and (max-width: 480px)
{
    .span_2_of_2,
    .span_1_of_2
    {
        width: 100%;
    }
}


.box
{
    width: 100%;
    height: 100%;

    background-color: #f7f6f6;
    padding-bottom: 30px;
}

/*E-mail*/

#email
{
    width: 250px;
    height: 40px;
    color: #ff5d55;
    border-width: 5px;
    border-style: solid;
    padding: 24px;
    padding-left: 31px;
    text-align: center;
    font-size: 15px;

}

input
{
	justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: #ff5d55;
    background-color: #f7f6f6;
    border-style: none;
    display: inline-block;
}

::-webkit-input-placeholder {
    color: #ff5d55;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ff5d55;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ff5d55;  
}

:-ms-input-placeholder {  
    color: #ff5d55;  
}

.page-header{
	border-bottom: none;
	color: #ff5d55;
}

.progressbar{
	display:flex;
	justify-content:center;
	align-items:center;
    text-align: center;
    letter-spacing: 5px;
    color: #ff5d55;
    padding: 20px;
}


.active{
  color: green;
}

.hide{
  display: none;
}

.button {
    background: url(submit.png) no-repeat center; 
    border-style: solid;
    border-color:#ff5d55;
    border-width: 5px;
    color: #ff5d55;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    isplay:flex;
	justify-content:center;
	align-items:center;
	margin-top: 20px;
}

#add, #sub{
/*    border-style: solid;
    border-color: #ff5d55;*/
    margin: 10px;
    padding-left: 8px;
    font-size: 37px;
    width: 8%;
    margin: auto;
    display: inline-block;
}

.inviteFriends {
	text-align: center; 
}